@use '@/styles/variable.scss' as *;
@use '@/styles/typography.scss' as *;  

.news-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;

    &__header {
        align-items: center;
        display: flex;
        justify-content: space-between;

        &__buttons {
            align-items: center;
            display: flex;
            gap:1.5rem;

            &__item {
                &--total,
                &--subscribed {
                    @include available-medium16;
                    color: var(--text-weak);

                    &--selected {
                        @include selected-bold16;
                        color: var(--text-strong);
                    }
                }

                &--subscribed {
                align-items: center;
                display: flex;
                gap: 0.25rem;

                & > div {
                    @include display-medium12;
                    align-items: center;
                    background-color: var(--surface-brand-alt);
                    border-radius: var(--radius-100);
                    color: var(--text-white-weak);
                    display: flex;
                    height: 1.25rem;
                    justify-content: center;
                    width: 1.25rem;
                }

                &--selected {
                    & > div{
                        background-color: var(--surface-brand-default);
                        color: var(--text-white-default);
                    }
                }
                }
            }
        }

        &__view-toggle-group {
            align-items: center;
            display: flex;
            gap:0.5rem;

            &__item {
                color: var(--text-weak);

                &--selected {
                    color: var(--text-point);
                }
            }
        }
    }
}

